ion-content {
  --ion-background-color: var(--ion-color-content);
}

ion-icon {
  font-size: 60px;
}

ion-card {
  height: 150px;
  &.new-event {
    padding-top: 50px;
  }
}

.ion-card-grid-view {
  height: 200px;
  box-shadow: none !important;
  margin: 0px;
  border: 1px solid;
  border-color: #e6e6e6;
  border-radius: 12px;
}

.ion-card-list-view {
  box-shadow: none !important;
  border: 1px solid;
  border-color: #e6e6e6;
  border-radius: 12px;
  margin: 15px 5px;
}

.potential-earn-value {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #3b3b3b;
}

.potential-earn-desc {
  font-size: 14px;
  letter-spacing: 2px;
  color: #3b3b3b;
  font-weight: 700;
}

.annualised-premium {
  font-size: 12px;
  letter-spacing: 1px;
  color: #3b3b3b;
  font-weight: 600;
}

.actual-x-target {
  font-size: 12px;
  letter-spacing: 2px;
  color: #3b3b3b;
  font-weight: 400;
}

.tile-title-list-view {
  font-size: 13px;
  color: #292929;
  font-weight: 400;
}

.tile-title-grid-view {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #292929;
  font-weight: 600;
}

.tile-subitem-title-row {
  font-size: 10px;
  color: #292929;
  font-weight: 400;
}

.tile-subitem-value-row {
  font-size: 15px;
  color: #3b3b3b;
  font-weight: 700;
}

.tile-subitem-title-col {
  font-size: 10px;
  color: #292929;
  font-weight: 400;
}

.tile-subitem-value-col {
  font-size: 25px;
  color: #3b3b3b;
  font-weight: 700;
}

.icon-row {
  justify-content: center;
  padding-top: 20px;
}

.icon-img-list-view {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right: 10px;
}

.icon-img-grid-view {
  width: 38px;
  height: 38px;
}

.label-value {
  font-size: 15px;
  font-weight: 600;
}

.vertical-text {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}
