<ion-content>
  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="6" size-xl="4">
        <ion-card>
          <ion-row class="ion-justify-content-center ion-padding-top">
            <ion-thumbnail>
              <ion-img src="/fe/ai2020/app/assets/icons/ai-logo.png"></ion-img>
            </ion-thumbnail>
          </ion-row>
          <ion-row class="ion-text-center">
            <ion-col text-center>
              <ion-label>
                <span class="login-label">Event-Assure</span>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="ion-hide">
            <ion-col text-center>
              <ion-label>
                <p>Login</p>
              </ion-label>
              <ion-label class="label-detail ion-hide"><i aria-hidden="true">No credentials required to login</i>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-card-content>
            <ion-row class="ion-align-items-start">
              <ion-col>
                <ion-label class="field-label" position="floating">Event Organizer Login ID</ion-label>
                <ion-input placeholder="Please enter your login ID" type="text" name="username" clearInput="true"
                  clearOnEdit="true"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label class="field-label" position="floating">Password</ion-label>
                <ion-input placeholder="Enter your password" type="password" name="password" clearInput="true"
                  clearOnEdit="true" (keyup.enter)="onLogin()"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-padding-top">
              <ion-col>
                <ion-button expand="block" (click)="onLogin()">
                  Login
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-hide">
              <ion-col>
                <ion-button class="ion-text-capitalize" fill="clear" expand="block" routerLink="../register">
                  <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
                  Register
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>